.what-Steam4Schools-section {
    background-color: #eef3f4;
    padding: 45px 0 50px 0;
    @media (max-width: 1199px) {
        padding: 45px 0 20px 0;
    }
    [class*="col-"] {
        margin-bottom: 30px;
    }
    h2 {
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: 1199px) {
            margin-bottom:35px;
        }
    }
    .steam4schools-item {
        background-color: #fff;
        text-align: center;
        padding: 40px 40px 25px 40px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @media (max-width: 1199px) {
            padding: 20px 20px 30px 20px;
        }
        @media (max-width: 991px) {
            padding: 20px 15px 30px 15px;
        }
        &:hover {
            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.20);
        }
        .icon {
            margin-bottom: 25px;
            height: 75px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
            img {
                max-height: 75px;
                @media (max-width: 1199px) {
                    max-width: 70px;
                }
            }
        }
        h4 {
            margin-bottom: 10px;
            color: $black;
        }
        p{
            color: $black;
        }
        .btn-primary {
            font-size: 18px;
            padding: 17px 15px;
            min-width: 175px;
            @media (max-width: 1199px) {
                padding: 12px 15px;
            }
            @media (max-width: 991px) {
                font-size: 17px;
            }
        }
    }
}
