/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
  height: 100%;
  margin: 0 !important;
  body {
    font-size: 19px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $os;
    font-weight: 400;
    @media (max-width: 1199px) {
      font-size:18px;
    }
    @media (max-width: 991px) {
      font-size:17px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $os;
      line-height: 1.2;
      color: $heading_color;
      font-weight: 500;
      margin: 0px 0 12px;
      span,
      a {
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        font-family: inherit;
      } 
    }
    h1 {
      font-size: 50px;
      @media (max-width: 1199px) {
        font-size: 40px;
      }
      @media (max-width: 991px) {
        font-size: 36px;
      }
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 21px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }

    p,
    ul li,
    ol li,
    span,
    a,
    b,
    address,
    strong,
    dl,
    dt,
    dd,
    th,
    td {
      font-family: $os;
      font-weight: 400;
      font-size: 19px;
      line-height: 1.5;
      color: $dark;
      @media (max-width: 1199px) {
        font-size:18px;
      }
      @media (max-width: 991px) {
        font-size:17px;
      }
    }
    p {
      margin:0 0 20px 0; 
      line-height: 29px; 
      @media (max-width: 1199px) {
        line-height: 26px;
        font-size: 18px;
      }
      @media (max-width: 991px) {
        line-height: 24px;
        font-size: 17px;
      }
    }
    strong, b {
      font-family: $os;
      font-weight: 700;
    }

    a {
      text-decoration: none;
      color: $primary_color;
      transition: all 0.2s ease-in-out;
    }

    a:link {
      text-decoration: none;
    }

    a:hover {
     color: $primary_color;
    }

    .widget {
      margin: 0;

      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }

    #content {
      /*background: #343d4d;*/
    }

    /*Base styles for pages/content/main area*/
    #main {
      img.lazy {
        background: $light;
        width: 10px;
        height: 10px;
      }

      &.page-404 {
        h1 {
          margin: 0;
        }

        p {
          margin: 15px 0 20px;
        }
      }

      .entry-header {
        margin: 0 0 20px;
        border-bottom: 1px solid $heading_color;
      }

      .entry-content {
        margin-top: 0;

        h2 {
          font-size: 21px;
          margin-bottom: 30px;

          @media (min-width: 768px) {
            font-size: 24px;
          }

          @media (min-width: 992px) {
            font-size: 27px;
          }
        }

        h3 {
          font-size: 18px;
          margin: 25px 0 10px;

          @media (min-width: 768px) {
            font-size: 20px;
          }

          @media (min-width: 992px) {
            font-size: 23px;
          }
        }

        h4 {
          font-size: 16px;
          margin: 20px 0 8px;

          @media (min-width: 768px) {
            font-size: 18px;
          }

          @media (min-width: 992px) {
            font-size: 21px;
          }
        }

        h5 {
          font-size: 14px;
          margin: 15px 0 5px;

          @media (min-width: 768px) {
            font-size: 16px;
          }

          @media (min-width: 992px) {
            font-size: 18px;
          }
        }

        h6 {
          font-size: 13px;
          margin: 10px 0 5px;

          @media (min-width: 768px) {
            font-size: 15px;
          }

          @media (min-width: 992px) {
            font-size: 16px;
          }
        }

        p {
          margin: 0 0 25px;
        }
        @media (max-width: 576px) {
					.wp-block-image {
						.alignleft, .alignright, .aligncenter {
							margin: 0;
							width: 100%;
						}
          }
        }
        img,
        figure {
          padding: 5px;
          margin: 5px auto 10px;

          @media (min-width: 768px) {
            width: initial;

            &.aligncenter {
              margin: 20px auto;
            }

            &.alignleft {
              float: left;
              margin-right: 15px;
            }

            &.alignright {
              float: right;
              margin-left: 15px;
            }
          }

          &.featured-image {
            margin-top: 0;
          }
        }

        figure {
          img {
            margin-bottom: 5px;
          }

          figcaption {
            font-size: 12px;

            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
