/* ==========================================================================
   Components Styles
   ========================================================================== */

/* Breadcrumbs */
.breadcrumbs {
  padding: 8px 15px;
  margin-bottom: 15px;
  list-style: none;
  background-color: $light;
  border-radius: 4px;
  color: $dark;
  font-size: 15px;

  a {
    color: $primary_color;
    text-decoration: none;
    font-size: 15px;

    &:hover {
      color: $dark;
    }
  }
}
 /* Social Icons */
 ul.social-list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @media (min-width: 768px){
    margin-bottom: 0;
    justify-content: flex-start;
  }
  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    a {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      color: $light;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        vertical-align: middle;
      }
    }
    a {
      background: $primary_color;
    }
  }
}
/* Page/Post Header Banner */
header.banner-header {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 40px;
  background: $dark;
  background-size: cover;
  background-position: center;

  h1.banner-title {
    font-size: 26px;
    margin: 0;
    color: $light;
    text-shadow: 2px 2px 1px #000;

    @media (min-width: 768px) {
      font-size: 30px;
    }

    @media (min-width: 992px) {
      font-size: 34px;
    }

    span {
      @extend h1.banner-title;
      font-family: $os;
      font-style: italic;
    }
  }

  .entry-meta {
    margin-top: 7px;

    span {
      font-size: 14px;
      color: $light;

      &.posted-on {
        font-weight: bold;
      }

      &.author {
        font-style: italic;
      }

      a {
        color: $light;
        font-size: 14px;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}

/* Post Edit Link */
a.post-edit-link {
  display: block;
  color: $accent;

  &:hover {
    color: $gray;
  }
}



/* Recent Posts */
.widget_recent_entries {
  ul {
    li {
      margin-bottom: 7px;
      line-height: 1.3;

      a {
        font-size: 15px;
        line-height: 1.2;
      }

      .post-date {
        display: block;
        font-size: 12px;
        font-style: italic;
        color: $gray;
        line-height: 1.2;
      }
    }
  }
}

/* Buttons */
a.btn-1 {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px auto;
  background: $dark;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid $dark;
  color: $light;
  &:hover {
    background: transparent;
    color: $primary_color;
    border: 2px solid $primary_color;
  }
}

a.btn-2 {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px auto;
  background: $primary_color;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid $primary_color;
  color: $light;
  &:hover {
    background: transparent;
    color: $primary_color;
    border: 2px solid $primary_color;
  }
}

.btn-primary {
  background-color: #000ca8;
  border: none;
  border-radius: 0px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
  padding: 23px 20px;
  min-width: 201px;
  @media (max-width: 1199px) {
    font-size: 18px; 
    padding: 13px 20px;
  }
  @media (max-width: 991px) {
    font-size: 17px; 
    padding: 12px 20px;
  }
  &:focus {
    background-color: $black;
    color: #fff;
  }
  &:hover {
    background-color: $black;
    color: #fff;
  }
}



/* Form fields */
.search-form {
  font-size: 16px;

  label {
    input {
      border: 2px solid $primary_color;
      padding: 3px 6px;
    }
  }

  .search-submit {
    background: $primary_color;
    color: $light;
    border: none;
    padding: 5px 12px;

    &:hover {
      opacity: 0.8;
    }
  }
}
.mobile-only {
  @media (min-width: 768px){
    display: none;
  }
}