/* ==========================================================================
   Header Styles
   ========================================================================== */
.header-top {
    background-color: #000000;
    padding: 14px 0px 14px 0px;
    .header-contact {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @media (max-width: 767px) {
            -webkit-box-pack: center; 
            -ms-flex-pack: center; 
            justify-content: center; 
            -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
        }
        li {
            margin-left: 42px;
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &:first-child {
                margin-left: 0;
            }
            img {
                margin-right: 14px;
                @media(max-width:991px){
                   margin-right: 10px; 
                   max-width: 26px; 
                   max-height: 24px; 
                }
                @media (max-width: 767px) {
                    max-width: 23px; 
                    max-height: 20px;
                }
            }
            a {
                color: #fff;
                &:hover {
                    color: #9e9e9e;
                }
            }
        }
    }
    .social {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        @media (max-width: 767px) {
          display:none;
        }
        li {
            margin: 0px 9px;
            list-style: none;
            a {
                color: #fff;
                text-align: center;
                line-height: 28px;
                font-size: 24px;
                &:hover {
                    color: #9e9e9e;
                }
            }
        }
    }
}


header#masthead {
  .header-logo {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 19px;
    .site-title {
      margin-bottom: 0;
      text-align: left;
      img {
        width: 100%;
        max-width: 166px;
        @media (min-width: 992px) {
          margin-bottom: 0;
        }
        @media (max-width: 767px) {
          width:111px;
        }
      }
    }
  }

  .action-bar {
    text-align: right;
    background: $secondary_dark;
    padding: 10px 0;
    p, b {
      margin-bottom: 0;
      color: $light;
    }
    a {
      color: $light;
      &:hover {
        color: $primary_color;
      }
    }
    .header-info {
      padding-left: 0;
      text-align: center;
      @media (min-width: 768px){
        text-align: left; 
      }
    }
    .header-social ul {
      justify-content: center;
      @media (min-width: 768px){
        justify-content: flex-end; 
      }
    }
  }

  .header-nav {
    text-align: right;
    flex-wrap: nowrap;
    @media (min-width: 992px) {
      text-align: center;
    }
    .col-sm-12 {
      @media (max-width: 768px) {
        width: 50%;
        max-width: 50%;
      }
    }

    .header-info {
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
      color: $primary_color;
      font-family: $os;
      font-weight: 900;

      @media (min-width: 992px) {
        font-size: 24px;
      }

      @media (min-width: 1200px) {
        font-size: 26px;
      }

      i {
        vertical-align: middle;
        margin-left: 10px;
        font-size: inherit;
        color: inherit;
      }

      a {
        font-family: inherit;
        font-size: inherit;
        color: inherit;

        &:hover {
          color: $secondary_color;
        }
      }
    }
    #search{
      display: none;
    }
    .search {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      background: $light;
      padding: 10px;
      align-items: center;
      width: 100%;
      .search-field {
        width: 100%;
        margin-right: 20px;
      }
      .search-btn {
        display: inline-block;
        padding: 10px 20px;
        background: $primary_color;
        text-decoration: none !important;
        border: none;
        font-size: 14px;
        font-weight: 700;
        color: $light;
        cursor: pointer;
        &:hover {
          background: $accent;
          color: $light;
        }
      }
    }
    .search-open {
      display: flex;
    }
    nav.navbar {
      padding-right: 0;
      width: 100%;
      display: flex;

      .navbar-header {
        button.navbar-toggle {
          margin-right: 0;
        }

        .navbar-brand {
          padding-left: 0;
        }
      }

      .mobile-menu-close {
				position: fixed;
				top: 0px;
				z-index: 3;
				transition: all 0.3s ease-in-out;
				font-size: 30px;
				color: $dark;
        right: -100%;
        width: 100%;
        padding-top: 20px;
        padding-left: 30px;
        text-align: left;
				@media (min-width: 992px) {
					display: none;
				}
			}

			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}

			.navbar-toggler {
				border-color: $dark;
				margin-left: auto;
        margin-right: 0px;

				@media (min-width: 768px) {
					display: block;
				}

				@media (min-width: 992px) {
					display: none;
				}
			}

      .navbar-collapse {
        padding-right: 0;
        transition: all 0.3s ease-in-out;
        text-align: left;
        @media (max-width: 992px) {
          position: fixed;
          padding-left: 30px;
          background: $light;
          top: 0;
          right: -100%;
          height: 2000px;
          width: 100%;
          padding-top: 58px;
          z-index: 2;
        }

        ul.navbar-nav {
          width: 100%;
          margin: 0;
          display: flex;
          justify-content: flex-end;

          li {
            a {
              font-size: 20px;
              font-weight: 500;
              padding: 10px;
              color: $dark;
              @media (min-width: 992px) {
                font-size: 17px;
                padding: 10px 9px;
              }
              @media (min-width: 1200px) {
                font-size: 19px;
                padding: 10px 18px;
              }
              &:hover {
                color: $primary_color;
              }
            }
            &:first-child{
              a{
                @media (min-width: 992px) {
                  padding-left: 0px;
                }
              }
            }
            &:last-child{
              a{
                @media (min-width: 992px) {
                  padding-right: 0px;
                }
              }
            }
            &.active > a {
              color: $primary_color;
            }

            ul {
              background: $light;
              border: none;
              border-radius: 0px;
              width: 100%;
              position: relative;

              @media (min-width: 768px) {
                position: absolute;
                width: initial;
                padding: 0;
                border-bottom: 3px solid $secondary_color;
              }

              li {
                &:first-child a {
                  font-weight: bold;
                  font-size: 18px;
                }

                a {
                  font-size: 90%;
                  padding-top: 8px;
                  padding-bottom: 8px;

                  &:hover {
                    background: $secondary_color;
                    color: $light;
                  }
                }
              }

              ul {
                width: 100%;
                position: relative;
                margin-top: 0;

                @media (min-width: 768px) {
                  position: absolute;
                  width: initial;
                  left: 100%;
                  top: -1px;
                }

                li a {
                  padding-top: 10px;
                  padding-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.opened {
  right: 0px !important;
}
.dropdown-sub a[href="#"] {
  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
  }
}
