/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$light: #fff;
$dark: #000;
$gray: #f2f2f2;
$primary_color: #f5931e;
$secondary_color: #000;
$secondary_dark: #272727;
$accent: #141518;
$heading_color: #000;

/* Fonts */
$os: Verdana, sans-serif;
$serif: Times, serif;